.wrapper {
  
}
.header {
  background-color: #618D73;
  background-position: top;
  background-size: cover;
  height: 400px;
}
.card {
  background-color: white;
  margin: -30px auto 0;
  width: 1000px;
  padding: 30px;
  box-shadow: 5px 10px 10px #888888;
}
h2{
  text-transform: uppercase;
  font-weight: 800;
}