.wrapper {
  position: relative;
  background-image: url(/static/images/mailingListGraphic.jpeg);
  background-position: top;
  background-size: cover;
  background-repeat: no-repeat;
  height: 200px;
  padding: 40px;
  margin-top: 80px;
  color: rgb(255, 255, 255);
}
.header {
  color: white;
  text-align: left;
  font-size: 25px;
  font-weight: 600;
}
.mailingListInput {
  margin-top: 20px;
}
.subscribe {
  background-color: rgb(106, 139, 117);
  border-color: rgb(106, 139, 117);
}
@media screen and (max-width: 768px) {
  .header {
    font-size: 16px;
  }
  .mailingListInput input{
    font-size: 12px;
  }
  .subscribe {
    font-size: 12px;
  }
  p{
    font-size: 12px;
    text-align: center;
  }
}