.base {
  font-family: 'Raleway', sans-serif;
  
  navbar{
    top: 0;
  }
}
.banner {
  background-color: rgb(106, 139, 117);
  height: 200px;
}
.banner__homepage {
  position: sticky;
  top: 0;
}

.nav-right {
  float: right;
  backdrop-filter: blur(10px);
  padding: 10px;
}
.logo {
  width: 85px;
}
.headerStyles {
  width: 100%;
  align-items: start;
}

.Navbar {
  background-color: rgba($color: #ffffff, $alpha: 0.9);
  box-shadow: 10px 10px 30px 1px rgba(0, 0, 0, 0.3);
  z-index: 1;
}

@media screen and (max-width: 768px){
  .Navbar {
    background-color: #ffffff;
    height: 68px;
  }
  .logo {
    width: 85px;
  }
}