.wrapper {
    position: relative;
    background-image: url(/static/images/GreenwoodBackgroundImage.jpg);
    background-position: top;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
}