// Spacing, widths, margins

$spacing: 20px; // padding.normal, margin.normal, gutter
// prefer spacing/2 or spacing*2 over new vars

$border-radius: 8px;
$border-input-radius: 2px;

$page-max-widths: (
  mobile: 480px,
  tablet: 748px,
  wide: 940px,
  extra-wide: 940px,
);

// Z-index
$z-index: (
  badge-detail: -2,
  visual-grid-back: -1,
  page-tabs-after: -1,
  create-team: -1,
  menu-modal-title: -1,
  heart: 0,
  chart-div: 0,
  recog-item-more: 0,
  icon-animation-star: 0,
  article-heroshot-tint: 0,
  assessment-page-wrapper-after: 0,
  wellness-category: 1,
  summary-spinner: 1,
  tile-overlap: 1,
  ring: 1,
  chart-bar: 1,
  timeline-year: 1,
  tile-overlay: 1,
  page-tabs: 1,
  article-heroshot-title: 1,
  dropdown-container: 1,
  carousel-slick-indicator: 1,
  modal-close-button: 1,
  icon-animation-ring: 1,
  image-input: 1,
  assessment-page-children: 1,
  user-action: 1,
  wellness-session-spinner: 1,
  tile-type: 2,
  timeline: 2,
  dropdown-options: 2,
  search-heroception-backdrop: 2,
  menu-desktop-item: 2,
  chart-bar-fill: 2,
  wellness-item-sm-cirlce: 3,
  search-heroception-input: 3,
  timeline-month: 3,
  dropdown-gradient: 3,
  tiering-item: 3,
  dropdown-button: 4,
  recog-item-badge: 5,
  carousel-chevron: 5,
  next-article: 10,
  recog-item-close: 10,
  select-dropdown-wrapper: 10,
  hidden-overlay-text: 10,
  new-tile: 10,
  carousel-child: 10,
  carousel-slick-dots: 10,
  activity-carousel-arrow: 10,
  wellness-session-feedback: 10,
  carousel-indicators: 15,
  signup-form: 99,
  dynamic-bar: 99,
  tool-tip: 100,
  action-banner: 100,
  form-module-overlay: 100,
  acheivement-date: 100,
  options-gradient: 100,
  bar-completed: 100,
  signup-load: 100,
  typeahead-dropdown: 100,
  popup-close-button: 100,
  toaster: 100,
  acheivement-tick: 101,
  zeus-header: 110,
  hero-search-input: 110,
  footer: 999,
  carousel-arrow: 999,
  limited-account-header: 999,
  menu-desktop-item-after: 999,
  header-logout: 999,
  cookie-law: 1000,
  inline-filter-dropdown: 1000,
  header-login: 1001,
  react-modal-overlay: 1002,
  menu-modal-backdrop-search: 1002,
  menu-modal-backdrop-menu: 1003,
  generic-search: 1003,
  search-heroception-title: 1004,
  dropdown-list: 1004,
  menu-modal-shadow: 1005,
  modal-portal-content: 1100,
  notifications-dropdown: 2000,
  notifications-indicator-shadow: 2001,
  notifications-indicator-icon: 2002,
  notifications-indicator-counter: 2003,
  dropdown-variable: 6000,
  select-dropdown: 9999,
  side-menu-badge: 9999,
  visual-grid-front: 9999,
  menu-desktop-admin-badge: 9999,
  save-to-homescreen: 10000,
  modal-backdrop: 10040,
  modal: 10050,
  loading-overlay: 10051,
);
